<ul class="list-group pt-5">
    <li class="list-group-item">
        <img  class="mr-3" src="../../../../assets/images/mis billeteras -on.svg" alt=""> <span *ngIf="sharedService.completeMenu" class="active">Mis billeteras</span>
    </li>
    <li class="list-group-item">
        <img  class="mr-3" src="../../../../assets/images/pagar orden.svg" alt=""> <span *ngIf="sharedService.completeMenu">Pagar orden</span>
    </li>
    <li class="list-group-item">
        <img  class="mr-3" src="../../../../assets/images/giftcard-off.svg" alt=""> <span *ngIf="sharedService.completeMenu">Tarjetas de regalo</span>
    </li>
    <li class="list-group-item">
        <img  class="mr-3" src="../../../../assets/images/multipago.svg" alt="">  <span *ngIf="sharedService.completeMenu">Pagos múltiples</span>
    </li>
    <li class="list-group-item">
        <img  class="mr-3" src="../../../../assets/images/punto de venta.svg" alt="">  <span *ngIf="sharedService.completeMenu">Punto de venta</span>
    </li>
    <li class="list-group-item">
        <img  class="mr-3" src="../../../../assets/images/configuración.svg" alt="">   <span *ngIf="sharedService.completeMenu">Configuración</span>
    </li>
  </ul>